{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'bootstrap_helper.tmpl' as bootstrap with context %}
{{ set_locale(lang) }}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.html_head() }}
    {% block extra_head %}
    {% endblock %}
    {{ extra_head_data }}
</head>
<body>
	<div class="container" id="container">
		<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	<a class="navbar-brand" href="{{ abs_link('/') }}">{{ blog_title }}</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right">
            {{ bootstrap.html_navigation_links() }}
        </ul>
        {% if search_form %}
            {{ search_form }}
        {% endif %}

       <ul class="nav navbar-nav navbar-right">
            {% block belowtitle %}
            {% if translations|length > 1 %}
                <li>{{ base.html_translations() }}</li>
            {% endif %}
            {% endblock %}
            {% if not hide_sourcelink %}
                {% block sourcelink %}{% endblock %}
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
    </nav>

<div class="well">
<div class="body-content"> <!--Body content-->
{% block content %}{% endblock %}
</div>
</div>

<!--End of body content-->
	    <footer>
	    {{ content_footer }}
	    </footer>
{{ bootstrap.late_load_js() }}
{{ base.html_social() }}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
{% block extra_js %}{% endblock %}
{{ body_end }}
</div>
</body>
